* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100%;
}


ul, li, a {
    text-decoration: none;
    list-style: none;
}

/* Hero section styles */

.hero-section {
    background: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

a, .hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

p {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 10px;
}

/* Hero section - Header */

header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 24px;
}

/* Hero section - Content */

.container-hs {
    max-width: 70vw;
    margin: 0 auto;
    height: 80vh;
    /* Utilizando flex para dar espacio*/
    display: flex;
    flex-direction: column;
}

.hero-content {
    display: flex;
    gap: 80px;
    height: 90%;
}

.img-container, .main-content {
    height: 45%;
    margin: auto 0;
}

.main-content {
    width: 35%;
}

.img-container {
    width: 65%;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Product info section */

.section {
    padding: 160px 0;
}

.section-container {
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.product-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.card-text {
    text-align: center;
}

.card {
    width: 200px;
    height: auto;
}

div.rectangle {
    width: 180px;
    height: 180px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 0 auto;
}

.card-text {
    margin-top: 16px;
}

/* Tercera sección */

.bg-grey {
    background-color: #E5E7EB;
}

.quote-section {
    width: 60%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

/* CTA section */

.cta-card {
    background-color: #3882f6;
    width: 80%;
    padding: 60px 160px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

h2.card-title, p.card-text {
    color: #f9faf8;
    margin: 0;
}

button.CTA {
    border-color: #f9faf8;
    border-style: solid;
    padding: 8px 32px;
}

a.CTA {
    color: #f9faf8;
    font-weight: 700;
}